@import "../../Theme/color.scss";

.section {
  margin-bottom: 200px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--Tonal-a20);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--primary-a10), var(--primary-a50));
  border-radius: 10px;
}
.section-grid {
  background-color: var(--Tonal-a10);
  width: 96%;
  align-self: center;
}
.explore-cars-section p {
  color: var(--primary-txt-color);
}
.filter-tab {
  display: flex;
  justify-content: flex-start;
  background-color: var(--Tonal-a10);
  border: 2px solid var(--Tonal-a20);
  border-radius: 25px;
  padding: 5px 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  width: fit-content;
  overflow: hidden;
}

.filter-tab:hover {
  background-color: var(--primary-a0);
  border-color: var(--primary-a20);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.sub-tab {
  display: flex;
  align-items: center;
  background-color: var(--primary-a30);
  border: 2px solid var(--primary-a40);
  border-radius: 25px;
  padding: 2px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.close-button {
  padding: 0;
  margin-left: 10px;
  color: var(--secondary-txt-color);
  margin-top: 4px;
}
.filter-text {
  color: var(--primary-txt-color);
}
.close-button:hover {
  color: var(--primary-txt-color);
}
.applied-filters {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; /* Adjust the size of the icon */
  color: white; /* Change to your desired icon color */
}

p {
  padding-left: 25px; /* Adjust to ensure the text is not hidden behind the icon */
}
.applied-filter-part {
  margin: 10px;
  margin-left: 75px;
}
@media (max-width: 600px) {
  .filter-tab {
    flex-direction: column;
  }

  .sub-tab {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .close-button {
    margin-top: 10px;
  }
}
