@import "../../Theme/color.scss";

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background: linear-gradient(135deg, var(--primary-a0), var(--primary-a30));
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}

.card-container:hover .card {
  transform: rotateY(15deg) rotateX(-10deg);
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateZ(50px);
}

.card-info {
  padding: 20px;
  color: white;
  text-align: center;
  transform: translateZ(30px);
}

.card-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-info p {
  font-size: 10px;
  color: var(--secondary);
}

.info-row {
  display: flex;
  align-items: center; /* Ensures vertical alignment of text and icons */
  gap: 10px; /* Proper spacing between icon and text */
  font-size: 16px; /* Adjusted font size */
}

.info-row p {
  margin: 0;
  color: white;
  font-size: 14px; /* Font size for text */
}

.card-info .icon {
  font-size: 24px; /* Adjusted size for icons */
  vertical-align: middle; /* Ensures icons are aligned properly with text */
}
