:root {
  --Tonal-a0: #15191b;
  --Tonal-a10: #2a2e30;
  --Tonal-a20: #414446;
  --Tonal-a30: #595c5e;
  --Tonal-a40: #727577;
  --Tonal-a50: #8d8f90;

  --primary-txt-color: #ffffff;
  --secondary-txt-color: #8d8f90;

  --primary-a0: #035b74;
  --primary-a10: #306c83;
  --primary-a20: #4d7d91;
  --primary-a30: #678fa0;
  --primary-a40: #80a1b0;
  --primary-a50: #99b3bf;
}
